html, body {
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000; }

/* COLORS */
body {
  padding: 20px; }

a {
  text-decoration: none; }

.container {
  float: left;
  box-sizing: border-box;
  padding: 10px;
  background-color: white;
  height: 520px;
  width: 520px;
  position: relative;
  margin: 20px; }

div.clearfix:after {
  content: "";
  display: table;
  clear: both;
  height: 0;
  width: 0; }

.wa, .wa_6, .container.worcester div, .container.nfaa div {
  height: 100%;
  width: 100%;
  border: 1px solid #1a1a1a;
  border-radius: 50%;
  padding: 24px;
  box-sizing: border-box;
  position: relative; }

.wa_6, .container.worcester div, .container.nfaa div {
  padding: 49.5px; }

.first-ring {
  width: 500px;
  height: 500px;
  border-color: black; }

.gold {
  background-color: #f9e526; }

.red {
  background-color: #ef3340; }

.blue {
  background-color: #00bce2; }

.black {
  background-color: #2b2926; }

.ten_ring {
  padding: 12px; }

.wa_6_10_ring, .container.nfaa div.nfaa_5_ring, .container.worcester div.worcester_5_ring {
  padding: 24.75px; }

.inner_ten, .container.nfaa div.inner_ten {
  padding: 0; }

.container.worcester div {
  background-color: #2b2926;
  border-color: white; }

.container.worcester div.worcester_5_ring {
  background-color: white;
  border-color: #2b2926; }

.container.nfaa div {
  background-color: #323264;
  border-color: white; }

.container.nfaa div.nfaa_5_ring {
  background-color: white; }

.container.nfaa div.nfaa_inner_5_ring {
  background-color: white;
  border-color: #323264; }
